body {
  box-sizing: border-box;
  background-color: antiquewhite;
}

.shop-title {
  font-size: 40px;
  font-weight: 600;
  color: gray;
  margin-bottom: 20px;
}
.row-wrapper {
  width: 80%;
  height: 75px;
  /* border: 1px solid black; */
  border-radius: 10px;
  margin: 0 auto;
  margin-bottom: 5px;
  display: flex;
}

.item-name-wrapper,
.item-price,
.number-of-items,
.item-pic {
  width: 25%;
  border: 1px dotted black;
  justify-content: center;
  align-items: center;
}

img {
  height: 75px;
  border-radius: 10px;
}
.item-category {
  /* color: rgb(91, 91, 238); */
  font-size: 20px;
}

.selected{
  color: skyblue;
  font-weight: 700;
}